
@import url("https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:wght@400;500;600;700&family=Noto+Sans+Devanagari:wght@400;500;600;700;800&display=swap");

:root {
  --black: #090909;
  --black-2: #111111;
  --white: #f4f1e8;
  --muted: #aaa69c;
  --saffron: #e87520;
  --red: #a92818;
  --border: rgba(244, 241, 232, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--black);
  color: var(--white);
  font-family: "DM Sans", sans-serif;
}

.site {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ================= NAVBAR ================= */


/* ================= HERO ================= */

.hero {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 8%;
}

.hero-image {
  position: absolute;
  inset: 0;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: center; */
}
/* ================= INTRO ================= */

.intro {
  min-height: 650px;
  padding: 80px 8%;

  display: flex;
  align-items: center;

  position: relative;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow: hidden;
}


.section-number {
  color: var(--saffron);
  font-size: 13px;
}

.intro-content {
  max-width: 800px;
}

.intro h2,
.section-heading-left h2,
.gallery-heading-left h2,
.join h2,
.contact h2 {
  font-family: "Noto Sans Devanagari", sans-serif;
  font-size: clamp(45px, 6vw, 90px);
  line-height: 1.05;
  font-weight: 800;
}

.intro h2 span,
.section-heading-left h2 span,
.join h2 span,
.contact h2 span {
  color: var(--muted);
}

.large-text {
  max-width: 750px;
  margin-top: 50px;
  font-family: "Noto Sans Devanagari", sans-serif;
  font-size: 24px;
  line-height: 1.7;
}

.body-text {
  max-width: 650px;
  margin-top: 25px;
  color: var(--muted);
  line-height: 1.8;
}

.tradition-cards {
  min-height: 400px;
  padding: 20px;
  background: var(--black-2);
  border: 1px solid var(--border);
  position: relative;
  transition: 0.4s;
}
.tradition-cards img{
  height: 250px;
  width: 250px;
  
}

.tradition-cards h2{
  font-family: "Noto Sans Devanagari", sans-serif;
  font-size: 30px;
  /* margin-top: 10px; */
   color: var(--saffron);
   text-align: center;
}
.tradition-cards p{
  text-align: center;
}


/* ================= TRADITION ================= */

.tradition,
.journey,
.gallery-section {
  padding: 40px 8%;
}

.main-section-heading{
  max-width: 900px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;

}

.section-heading-left {
  min-height: 400px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

.section-heading-left h2 {
  position: relative;
  z-index: 2;
}

.section-heading-left .section-label {
  position: relative;
  z-index: 2;
}

.tradition-grid {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  width: 200px;
}

.tradition-card {
   width: 250px;
  height: 400px;
  padding: 20px;
  background: var(--black-2);
  border: 1px solid var(--border);
  position: relative;
  transition: 0.4s;
}

.tradition-card:hover {
  transform: translateY(-10px);
  border-color: var(--saffron);
}

/* .tradition-card.featured {
  background: var(--saffron);
} */

.card-number {
  position: absolute;
  right: 30px;
  top: 30px;
  opacity: 0.5;
}


.instrument {
  /* font-size: 65px; */
  margin-top: 20px;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  object-fit: cover;
}
.instrument img{
  width: full;
  height: 200px;
  
}
.tradition-card h3{
   margin-top: 10px;
  color: #bbb;
  line-height: 1.7;
   text-align: center;
  font-family: "Noto Sans Devanagari", sans-serif;
}

.tradition-card h2 {
  font-family: "Noto Sans Devanagari", sans-serif;
  font-size: 35px;
  margin-top: 2px;
   color: var(--saffron);
   text-align: center;
   
}

.tradition-card p {
  margin-top: 2px;
  color: #bbb;
  line-height: 1.7;
   text-align: center;
  font-family: "Noto Sans Devanagari", sans-serif;
}

.featured p {
  color: white;
}

/* ================= JOURNEY ================= */
.journey {
  padding: 100px 8%;
  min-height: 600px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
}

.timeline {
  margin-top: 60px;
  border-top: 1px solid var(--border);
}

.timeline-item {
  display: grid;
  grid-template-columns: 100px 1fr;
  padding: 30px 0;
  border-bottom: 1px solid var(--border);
}

.timeline-item > span {
  color: var(--saffron);
}

.timeline-item h3 {
  font-family: "Noto Sans Devanagari", sans-serif;
  font-size: 30px;
}

.timeline-item p {
  margin-top: 8px;
  color: var(--muted);
  font-family: "Noto Sans Devanagari", sans-serif;
}

/* ================= GALLERY ================= */

.gallery-heading {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 70px;
}

.gallery-heading h2 span {
  color: var(--saffron);
}

.gallery-heading > p {
  color: var(--muted);
  font-family: "Noto Sans Devanagari", sans-serif;
  line-height: 1.8;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.gallery-item {
  height: 300px;
  position: relative;
  overflow: hidden;
}

.gallery-2 {
  margin-top: 100px;
}

.gallery-3 {
  margin-top: -50px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s;
}

.gallery-item:hover img {
  transform: scale(1.08);
}

.gallery-overlay {
  position: absolute;
  inset: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: linear-gradient(transparent, rgba(0,0,0,.8));
}

.gallery-overlay span {
  color: var(--saffron);
}

.gallery-overlay h3 {
  font-family: "Noto Sans Devanagari", sans-serif;
  font-size: 20px;
}

/* ================= JOIN ================= */





/* ================= CONTACT ================= */

.contact {
  padding: 80px 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.contact-right {
  border-top: 1px solid var(--border);
}

.contact-row {
  padding: 25px 0;
  border-bottom: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.contact-row span {
  color: var(--muted);
}

.contact-row strong {
  font-family: "Noto Sans Devanagari", sans-serif;
}

.contact-button {
  display: inline-block;
  margin-top: 40px;
  padding: 16px 25px;
  border: 1px solid var(--saffron);
  color: var(--saffron);
  transition: 0.3s;
}

.contact-button:hover {
  background: var(--saffron);
  color: white;
}

/* ================= FOOTER ================= */

footer {
  padding: 20px 8%;
  border-top: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

footer p {
  color: var(--muted);
  font-family: "Noto Sans Devanagari", sans-serif;
  font-size: 13px;
}

footer > span {
  color: #777;
  font-size: 11px;
}
.footer-logo img{
    width: 30px;
    height: 30px;
  }
 .footer-logo {
  display: flex;
  /* flex-direction: column; */
  gap: 5px;
  font-size: 15px;
 } 
 .parampara span{
  font-size: 12px;
 }
 .parampara h6{
  font-size: 10px;
  font-weight: 300;
  margin-top: 5px;
 }




/* ================= MOBILE ================= */



/* =========================
   HERO RESPONSIVE - 800px
========================= */

@media (max-width: 800px) {

  .hero {
    min-height: 100svh;
    padding: 0 5%;
    justify-content: center;
  }

  /* Background Image */
  .hero-image img {
    object-position: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 800px) {



  .intro {
    padding: 50px 20px;
    display: block;
    text-align: center;

  }

  .section-number {
    margin-bottom: 40px;
  }

  .large-text {
    font-size: 19px;
  }


  .tradition,
  .journey,
  .gallery-section {
    padding: 10px 25px;
    
  }

  .tradition-grid {
    grid-template-columns: 1fr;
  }

  .gallery-heading {
    display: block;
  }

  .gallery-heading > p {
    margin-top: 25px;
  }

  .gallery {
    grid-template-columns: repeat(2,1fr);
  }

  .gallery-item {
    height: 200px;
  }

  .gallery-2,
  .gallery-3 {
    margin-top: 0;
  }

  .contact {
    padding: 40px 25px;
    grid-template-columns: 1fr;
    gap: 60px;
  }

  footer {
    padding: 15px 15px;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-logo img{
    width: 30px;
    height: 30px;
  }

  .hero-buttons {
    flex-wrap: wrap;
  }
}




/* =========================
   MAIN SECTION - 800px
========================= */

@media (max-width: 800px) {
  .hero-image img {
    object-fit: cover;
    object-position: center center;
  }
}

@media (max-width: 800px) {

.main-section-heading{
 display: flex;
 align-items: center;
}
  .main-section-heading {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 10px 5%;
  }

  /* Left Heading */

  .section-heading-left {
    width: 100%;
    text-align: center;
    min-height: 350px;
    padding: 35px 25px;
    background-position: center;
  }

  .section-heading-left .section-label {
    font-size: 11px;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }

  .section-heading-left h2 {
    font-size: clamp(42px, 9vw, 65px);
    line-height: 1.1;
  }


  /* Right Side */

  .main-section-right {
    width: 100%;
    display: flex;
    justify-content: center;
  }


  /* Card */

  .tradition-cards {
    width: 100%;
    max-width: 350px;
    min-height: auto;

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }



  /* Person Image */

  .tradition-cards .instruments {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .tradition-cards img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
  }


  /* Name */

  .tradition-cards h2 {
    font-size: 25px;
    margin-top: 15px;
  }

  .tradition-cards p {
    font-size: 13px;
    margin-top: 5px;
  }

}

@media (max-width: 800px) {
  .tradition{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tradition-grid{
    display: flex;
    align-items: center;
    flex-direction: column;
    

  }
}

